<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top navbar-lewagon-home">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", class: "avatar" %>
  <% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="nav-main-items">
        <li class="nav-item">
          <%= link_to root_path do %>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to realestate_path do %>
              Real Estate
          <% end %>
        </li>
      </div>
      <!-- <ul class="nav-item dropdown">
        <%= image_tag "logo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Settings", "#", class: "dropdown-item black" %>
        </ul> -->
        </div>
      </li>
    </ul>
  </div>
</div>
</ul>
</div>
</div>
